.bar-of-progress::after {
  content: '';
  display: block;
  position: absolute;
  right: 0;
  width: 100px;
  height: 100%;
  box-shadow: 0 0 10px currentColor, 0 0 5px currentColor;
  transform: rotate(3deg) translate(0, -4px);
}

@font-face {
  font-family: 'Inter';
  font-style: normal;
  font-weight: 100 900;
  font-display: optional;
  src: url(/fonts/inter-var-latin.woff2) format('woff2');
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA,
    U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215,
    U+FEFF, U+FFFD;
  color: rgb(26, 32, 44);
}

.notion-page img {
  border-radius: 16px;
}

.hover-trigger:hover .show-on-hover{
  opacity: 1;
  transform: translateX(0);
}

html {
  scroll-behavior: smooth;
}

.thumbnail-back:before {
  content: '';
  display: block;
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  @apply bg-brand-500;
  @apply rounded-2xl;
  @apply transform;
  @apply transform-gpu;  
  @apply transition-transform;  
  @apply duration-300;  
}

.thumbnail-back:hover:before{
  @apply translate-x-2;
  @apply translate-y-2;
}